<%!-- <h1>This is product page for = <%= @product.name %></h1> --%>

<%!-- <%= if(@product) do %>
  <.product name={@product.name} />
<% end %> --%>

<p>ID: {@product.id}</p>
<p>Name: {@product.name}</p>
<%!-- <.product :if={@product} product={@product} /> --%>

<%!-- <.button>
  Click me!
</.button> --%>

<.back navigate={~p"/products"}>Back to product listing </.back>