<h1 class="text-brand mt-10 flex items-center text-sm font-semibold leading-6">
      Internal server error
      <small class="bg-brand/5 text-[0.8125rem] ml-3 rounded-full px-2 font-medium leading-6">
        <%!-- v{Application.spec(:phoenix, :vsn)} --%>
      </small>
    </h1>